{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "indent": ["error", 2],
    "no-undef": "error",
    "no-unused-vars": "error"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}
